@media screen and (min-device-width: 481px){
body{
	margin-left: 20%;
	margin-right: 20%;
	font-size: medium;
	}
}
@media screen and (max-device-width: 480px){
body{
	font-size: medium;
	}
}
h1{
	border: 5px outset;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 180%;
	text-align:center;

}
h2{
	border-bottom: 1px solid black;
	font-size: 140%;
}
#about{
	border: 5px outset;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 10px;
	text-align:center;
}
.kuang{
	border-style: outset;
	padding-left: 10px;
	margin-top: 20px;
}
a:link{
	color: blue;
}
a:visited{
	color: red;
}
a:hover{
	color: white;
	background: purple;
}