@media screen and (min-device-width: 481px){
body{
	margin: 0px;
	font-size: medium;
	}
}
@media screen and (max-device-width: 480px){
body{
	font-size: medium;
	}
}
header.top{
	padding-top: 0.1px;
	padding-bottom: 15px;
	background-color: #4F4F4F;
	color: #E8E8E8;
	font-family: "Tahoma", cursive, serif, sans-serif;
	font-size: 180%;
	text-align:center;

}
h2{
	border-bottom: 1px solid black;
	font-size: 140%;
}
section#about{
	border: 5px outset;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 10px;
	text-align:center;
}
.space{
	border-style: outset;
	padding-left: 10px;
	margin-top: 20px;
}
a:link{
	color: blue;
}
a:visited{
	color: #4A708B;
}
a:hover{
	color: #68838B;
	background: #EEEEE0;
}
a{
	text-decoration:none
}
nav {
	margin: 10px 10px 0px 10px;
	text-align:center;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
	}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #363636;
	border-bottom: none;
/*
	text-shadow: 1px 1px 3px #e2c2c2; 
	text-transform: uppercase;
*/
}
nav ul li.selected {
	background-color: #E0EEEE;
}
