body{
	font-size: large;
}
h1{
	border: 5px outset;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 180%;
	text-align:center;

}
h2{
	border-bottom: 1px solid black;
	font-size: 140%;
}
#about{
	border: 5px outset;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 10px;
	text-align:center;
}
.kuang{
	border-style: outset;
	padding-left: 10px;
	margin-top: 20px;
}