@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_txvlqhphz2.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_txvlqhphz2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_txvlqhphz2.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_txvlqhphz2.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_txvlqhphz2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_txvlqhphz2.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}
body{
	font-family: "webfont"
	font-size: medium;
}
h1{
	border-bottom: 5px solid black;
	font-size: 200%;
}
h2{
	border-bottom: 1px solid black;
	font-size: 150%;
}