body{
	font-size: medium;
	margin-left: 20%;
	margin-right: 20%;
}
h1{
	border-bottom: 5px solid black;
	font-size: 200%;
}
h2{
	border-bottom: 1px solid black;
	font-size: 150%;
}
p{
	line-height: 1.5em;
}